			.miscProperties {
				max-width: 740px;
				padding: auto 20px;
				width: 100%;
				margin: 0 auto;
				box-sizing: border-box;
				-webkit-box-sizing: border-box;
			}
			
			.textContent {
				color: rgba(0,0,0,0.84);
				
				font-family: quicksand ,medium-content-serif-font, Georgia, 
				Cambria, "Times New Roman", Times, serif;
				
				font-feature-settings: "liga";
				font-style: normal;
				margin: 0px auto;
				overflow-wrap: 38px;
				text-rendering: optimizelegibility;
				visibility: visible;
			}
			
			.textContent p {
				font-size: 21px;
				font-weight: 400;
				letter-spacing: -0.003em;
				line-height: 33.1833px;
			}
			
			.textContent h3 {
				font-size: 34px;
				font-weight: 600;
				letter-spacing: -0.015em;
				line-height: 39.1px;
			}			
			
			.textContent h4 {
				font-size: 26px;
				font-weight: 600;
				letter-spacing: -0.012em;
				line-height: 31.7167px;
			}


		.grey-1 {
			color: rgba(0,0,0,0.9);
			font-weight: 900px;
		}
		
		.grey-2 {
			color: rgba(0,0,0,0.7);
			font-weight: 500;
		}
		
		.grey-3 {
			color: rgba(0,0,0,0.5);
			font-weight: 400;
		}